div.space>div.h1{width: 1349px;height: 228px;background-image: url(image/flower.png);border-bottom: 7px solid #73c4f0;}
div.space{width: 1349px;height: 2346px;background-image: url(image/main_bg.png)}
div.space>div.h1>div.title{width: 1274px;height: 42px;background: blue;margin: 0 auto;}
div.space>div.h1>div.title>div.title-two{width: 184px;height: 42px;float: right;margin-left: 36px;}
div.space>div.h1>div.title>div.title-two>input.one{width: 149px;height: 23px;margin-top: 7px;}
div.space>div.h1>div.title>div.title-two>input{height: 27px;}
div.space>div.h1>div.title>div.title-one{width: 379px;height: 42px;float: right;}
div.space>div.h1>div.title>div.title-one>ul{width: 100%;height: 42px;}
div.space>div.h1>div.title>div.title-one>ul>li{width: 75px;height: 23px;float: left;border-right:1px solid white;font-size: 14px;text-align: center;margin-top: 10px;}
div.space>div.h1>div.title>div.title-one>ul>li.one{border-right:none;}
div.space>div.h1>div.title>div.title-one>ul>li>a:link{color: white;}
div.space>div.h1>div.body{width:1274px;height: 120px;margin: 0 auto;}
div.space>div.h1>div.body>img.one{width: 579px;height: 127px;}
div.space>div.h1>div.body>img.two{width: 417px;height: 129px;float: right;}
div.space>div.h1>div.end{width: 100%;height: 50px;margin-top: 9px;}
div.space>div.h1>div.end>ul{width: 1274px;height: 50px;margin:0 auto;}
div.space>div.h1>div.end>ul>li{width: 141.5px;height: 50px;float: left;text-align: center;}
div.space>div.h1>div.end>ul>li>a{width: 100%;height: 50px;font-size: 20px;line-height: 50px;color: #fff;padding:0px 16px 0px 16px;}
div.space>div.h1>div.end>ul>li:hover{background: #1258ad;}
div.space>div.h2{width: 1274px;height: 353px;margin: 0 auto;}
div.space>div.h2>img{width: 100%;height: 100%;}

div.space>div.h3{width: 1274px;height: 362px;margin: 0 auto;padding-top: 30px;}
div.space>div.h3>div.h3-one{width: 1274px;height: 332px;background: #f6f7f6;border: 1px solid #dddede;}
div.space>div.h3>div.h3-one>div.title{width: 1252px;height: 40px;margin: 0 auto;border-bottom: 2px solid #9b9897;}
div.space>div.h3>div.h3-one>div.title>h4{background: #002d74;border-radius: 6px 6px 0 0;color: #fff;width: 64px;height: 40px;text-align: center;line-height: 40px;float: left;padding: 0 16px 0 16px;}
div.space>div.h3>div.h3-one>div.title>a{float: right;font-size: 14px;color: #c71621;margin-top: 0px;line-height: 40px;}
div.space>div.h3>div.h3-one>div.body{width: 1252px;height: 278px;margin: 0 auto;}
div.space>div.h3>div.h3-one>div.body>a.one{display: inline-block; width: 266px;height: 260px;margin:10px 55px 0 0;background-color:#fff; }
div.space>div.h3>div.h3-one>div.body>a.two{display: inline-block; width: 266px;height: 260px;background-color:#fff;}
div.space>div.h3>div.h3-one>div.body>a>img{width: 267px;height: 141px;}
div.space>div.h3>div.h3-one>div.body>a>h3{font-size: 16px;color: #002d74;font-weight: 100;padding: 0 10px;margin-top: 20px;margin-bottom: 10px;}
div.space>div.h3>div.h3-one>div.body>a>span{font-size: 14px;height: 24px;color: #797979;padding-left: 10px;}

div.space>div.h4{width: 1274px;height: 362px;margin: 0 auto;background: #fff;}
div.space>div.h4>div.one{width: 624px;height: 332px;background: #f6f7f6;float: left;}
div.space>div.h4>div.one>div.title{width: 602px;height: 40px;margin: 0 auto;border-bottom: 2px solid #9b9897;}
div.space>div.h4>div.one>div.title>h4.one{width: 69px;height: 40px;background: #002d74;color: #fff;border-radius: 6px 6px 0 0;text-align: center;line-height: 40px;}
div.space>div.h4>div.one>div.title>h4{float: left;text-align: center;line-height: 40px;padding: 0 12px 0 12px;}
div.space>div.h4>div.one>div.title>a{float: right;color: red;line-height: 40px;}
div.space>div.h4>div.one>div.body{width: 602px;height: 280px;margin: 0 auto;}
div.space>div.h4>div.one>div.body>ul{width: 602px;height: 266px;margin-top: 10px;}
div.space>div.h4>div.one>div.body>ul>li{width: 602px;height: 44px;line-height: 44px;}
div.space>div.h4>div.one>div.body>ul>li>span{float: right;font-size: 14px;color: #333333;}
div.space>div.h4>div.one>div.body>ul>li>a:link{color:#545152;}

div.space>div.h4>div.two{width: 624px;height: 332px;background:#f6f7f6;float: right;}
div.space>div.h4>div.two>div.title{width: 602px;height: 40px;margin: 0 auto;;border-bottom: 2px solid #9b9897;}
div.space>div.h4>div.two>div.title>h4.one{width: 69px;height: 40px;background: #002d74;color: #fff;border-radius: 6px 6px 0 0;text-align: center;line-height: 40px;}
div.space>div.h4>div.two>div.title>h4{float: left;text-align: center;line-height: 40px;padding: 0 12px 0 12px;}
div.space>div.h4>div.two>div.title>a{float: right;color: red;line-height: 40px;}
div.space>div.h4>div.two>div.body{width: 602px;height: 280px;margin: 0 auto;margin-top: 10px;}
div.space>div.h4>div.two>div.body>div.one{width: 602px;height: 69px;line-height: 23px;}
div.space>div.h4>div.two>div.body>div.one>div.one-one{width: 45px;height: 45px;background: orange;float: left;margin-right: 20px;}
div.space>div.h4>div.two>div.body>div.one>div.one-one>p{width: 45px;height: 22px;background: red;text-align: center;border-top-left-radius: 3px;  border-top-right-radius: 3px;color: #fff;font-size: 14px;}
div.space>div.h4>div.two>div.body>div.one>div.one-one>span{width: 45px;height: 22px;background: #e5e3d7;display: inline-block;font-size: 14px;text-align: center;  border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;}
div.space>div.h4>div.two>div.body>div.one>a>h5{height: 24px;color: #797979;font-size: 14px;font-weight: 400;}
div.space>div.h4>div.two>div.body>div.one>a>p{font-size: 12px;color: #a4a4a4;height: 21px;}

div.space>div.h5{width: 1274px;height: 662px;margin: 0 auto;background: white;}
div.space>div.h5>div.title{width: 1244px;height: 120px;margin: 0 auto;border: 1px solid #b2b2b2;margin-bottom: 54px;}
div.space>div.h5>div.title>div.title-one{width: 60px;height: 120px;float:left;border: 1px solid #b2b2b2;}
div.space>div.h5>div.title>div.title-one>img{width: 60px;height: 120px;margin-right: 20px;}
div.space>div.h5>div.title>ul{width: 1157px;height: 120px;background: white;float: right;}
div.space>div.h5>div.title>ul>li{width: 94px;height: 88px;margin-right: 20px;float: left;margin-top: 16px;border-radius:6px 6px 6px 6px; }
div.space>div.h5>div.title>ul>li>a>img{width: 100%;height: 100%;}
div.space>div.h5>div.body{width: 1244px;height: 433px;background: white;margin: 0 auto;}
div.space>div.h5>div.body>div.one{width: 1224px;height: 200px;margin: 0 auto;margin-bottom: 30px;}
div.space>div.h5>div.body>div.one>ul{width: 1224px;height: 200px;}
div.space>div.h5>div.body>div.one>ul>li{width: 242px;height: 157px;margin-right: 85px;float: left;margin-top: 23px;}
div.space>div.h5>div.body>div.one>ul>li.one{width: 242px;height: 157px;margin-right: 0px;float: left;}
div.space>div.h5>div.body>div.one>ul>li>p{z-index: 99;width: 242px;height: 35px;background: #6f3740;text-align: center;font-size: 14px;display:inline-block;color: #fff;line-height: 35px;margin-top: -35px; }
div.space>div.h5>div.body>div.one>ul>li>p.one{z-index: 99;width: 242px;height: 35px;background: #4174b2;text-align: center;font-size: 14px;display:inline-block;color: #fff;line-height: 35px;margin-top: -35px;}

div.space>div.h5>div.body>div.two{width: 1224px;height: 200px;margin: 0 auto;}
div.space>div.h5>div.body>div.two>ul{width: 1224px;height: 200px;}
div.space>div.h5>div.body>div.two>ul>li{width: 242px;height: 157px;margin-right: 85px;float: left;margin-top: 23px;}
div.space>div.h5>div.body>div.two>ul>li.one{width: 242px;height: 157px;;margin-right: 0px;float: left;}
div.space>div.h5>div.body>div.two>ul>li>p{z-index: 99;width: 242px;height: 35px;background: #6f3740;text-align: center;font-size: 14px;display:inline-block;color: #fff;line-height: 35px;margin-top: -35px;}
div.space>div.h5>div.body>div.two>ul>li>p.one{z-index: 99;width: 242px;height: 35px;background: #4174b2;text-align: center;font-size: 14px;display:inline-block;color: #fff;line-height: 35px;margin-top: -35px;}

div.space>div.h6{width: 100%;height: 286px;background-image: url(image/flower1.png);}
div.space>div.h6>div.body{width: 1274px;height: 286px;margin: 0 auto;}
div.space>div.h6>div.body>div.one{width: 130px;height: 200px;margin-top: 50px;float: left;}
div.space>div.h6>div.body>div.one>ul{width: 100%;height: 100%;}
div.space>div.h6>div.body>div.one>ul>li{width: 130px;height: 50px;line-height: 50px;}
div.space>div.h6>div.body>div.one>ul>li>a:link{color: white;}
div.space>div.h6>div.body>div.one>ul>li>a:hover{color: orange;}
div.space>div.h6>div.body>div.two{width: 130px;height: 200px;margin-top: 50px;float: left;}
div.space>div.h6>div.body>div.two>ul{width: 100%;height: 100%;}
div.space>div.h6>div.body>div.two>ul>li{width: 130px;height: 50px;line-height: 50px;}
div.space>div.h6>div.body>div.two>ul>li>a:link{color: white;}
div.space>div.h6>div.body>div.two>ul>li>a:hover{color: orange;}
div.space>div.h6>div.body>div.three{width: 492px;height: 108px;float: left;margin-top: 102px;margin-left: 66px;}
div.space>div.h6>div.body>div.three>a>img{width: 492px;height: 108px;}
div.space>div.h6>div.body>div.four{width: 391px;height: 115px;float: right;margin-top: 98px;}
div.space>div.end>div.body>p>a:link{color: white;}

div.space>div.end{width: 100%;height: 73px;background: black;}
div.space>div.end>div.body{width: 1274px;height: 64px;margin:0 auto;}
div.space>div.end>div.body>p{text-align: center;color: white;font-size: 14px;line-height: 30px;}
div.space>div.end>div.body>p>span{width: 22px;height: 29px;display: inline-block;}
div.space>div.end>div.body>p>span>img{width: 100%;height: 100%;line-height: 30px;position: relative;top: 9px;}
div.space>div.end>div.body>div.one{float: left;margin-left: 50px;margin-top: 10px;}